.wrapper_with_padding
	#notes.clearfix
		- unless current_user.notes.blank?
			- @notes.each do |note|
				%a{ href: (url_for [note]) }
					.note
						%h3.title= note.title
						%p.date
							= time_ago_in_words(note.created_at)
							ago
		- else
			%h2 Add a New Note
			%p Seems there is nothing here yet!
			= link_to "New Note", new_note_path, class: "new_button"

= will_paginate @notes, class: "pagination"