// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#note_show {
	.title {
		@include font_bold;
		font-size: 2.5rem;
		margin-bottom: 1.25rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #E9E9E9;

	}
	p {
		font-size: 1.345rem;
		line-height: 1.75;
	}
	.buttons {
		margin-top: 3rem;
		a.button {
			padding: .5rem 2rem;
			border-radius: 2rem;
			text-decoration: none;
			color: $deep_purple;
			border: 5px solid #E9E9E9;
			@include font_bold;
			background: transparent;
		}
	}
}

#notes {
	.note {
		background: $dark_gray;
		width: 30%;
		margin: 1rem 1%;
		padding: 1.5rem 2.5%;
		border-radius: .4rem;
		display: inline-block;
		@include transitions;
		.title {
			@include font_bold;
			color: $hcolor;
			margin: 0;
			letter-spacing: 1px;
		}
		.date {
			color: white;
			font-size: .85rem;
		}
		&:hover {
			@include shadows
		}
	}
}